@import 'bootstrap/scss/normalize';
@import 'bootstrap/scss/bootstrap-grid';

body {
	margin: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1rem 0;
}

a {
	color: $black;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	display: block;
}